body {
  background-color: rgb(75, 18, 128);
}
img {
  width: 300px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  margin-top: 50px;
  border-radius: 50px;
}
h1 {
  text-align: center;
  font-family: cursive;
  color: azure;
}
div {
  color: azure;
  text-align: center;
}
